.ma\.5{
    margin: .5rem;
}
.ma1{
    margin: 1rem;
}
.ma1\.5{
    margin: 1.5rem;
}
.ma2{
    margin: 1rem;
}
.ma2\.5{
    margin: 2.5rem;
}

.ml\.5{
    margin-left: .5rem;
}
.ml1{
    margin-left: 1rem;
}
.ml1\.5{
    margin-left: 1.5rem;
}
.ml2{
    margin-left: 1rem;
}
.ml2\.5{
    margin-left: 2.5rem;
}

.mr\.5{
    margin-right: .5rem;
}
.mr1{
    margin-right: 1rem;
}
.mr1\.5{
    margin-right: 1.5rem;
}
.mr2{
    margin-right: 1rem;
}
.mr2\.5{
    margin-right: 2.5rem;
}


.mb\.5{
    margin-bottom: .5rem;
}
.mb1{
    margin-bottom: 1rem;
}
.mb1\.5{
    margin-bottom: 1.5rem;
}
.mb2{
    margin-bottom: 2rem;
}
.mb2\.5{
    margin-bottom: 2.5rem;
}


.mt\.5{
    margin-top: .5rem;
}
.mt1{
    margin-top: 1rem;
}
.mt1\.5{
    margin-top: 1.5rem;
}
.mt2{
    margin-top: 2rem;
}
.mt2\.5{
    margin-top: 2.5rem;
}


.pt\.5{
    padding-top: .5rem;
}
.pt1{
    padding-top: 1rem;
}
.pt1\.5{
    padding-top: 1.5rem;
}
.pt2{
    padding-top: 2rem;
}
.pt2\.5{
    padding-top: 2.5rem;
}