:host{
    display: flex;
    flex-direction: column;
    padding: .1rem;
    overflow-x: hidden;
}

@media only screen and (min-height:870px) { 
    .scrollBar{
        height: 38rem;
    }
}

@media only screen and (max-height:870px) { 
    .scrollBar{
        height: 38rem;
    }
}

@media only screen and (max-height:808px) { 
    .scrollBar{
        height: 29rem;
    }
}

@media only screen and (max-height:750px) { 
    .scrollBar{
        height: 24rem;
    }
}


.Listheader{
    display: flex;
    align-items: center;
}

.list{
    overflow-y: scroll;
    margin-right: -1.2rem;    
    padding: .1rem;
}

.editIcon:hover{
    color: var(--primary);
    cursor: pointer;
}

.newsEditable{
    background-color: var(--terciaryDark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-radius: 3px;
    box-shadow: var(--shadow1);
    padding: .5rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
    position: relative;
    height: 2.5rem;
}

.title{
    margin:0;
    white-space: nowrap;
    position: absolute;
    left: 1rem;
    z-index: 1;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title:hover{
    color: var(--primary);
    cursor: pointer;
}

.newsEditable .editIcon{
    display: none;
    margin-left: 1rem;
}

.editIcon:hover{
    cursor: pointer;
    color: var(--primary);
}

.newsEditable:hover .editIcon{
    display: flex;
}

.info{
    margin: 0 .5rem;
    margin-right: 1rem;
}

.newsEditable:hover .separator{
    display: inline-block;
}

.separator{
    display: none;
    height: 1rem;
    width: 1px;
    background-color: rgba(0,0,0,.2);
}

.iconsContainer{
    display: flex;
    align-items: center;
    background-color: var(--terciaryDark);
    z-index: 2;
    position: relative;
}

.iconsContainer::after{
    content: "";
    position: absolute;
    left: -2rem;
    height: 100%;
    width: 2rem;
    background: rgb(241,241,241);
    background: linear-gradient(273deg, rgba(241,241,241,1) 34%, rgba(241,241,241,0) 100%);
    

}

.scroll{
    padding: .1rem;
}




