:host{
    background-color: var(--terciaryDark);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: .5rem;
    border-radius: 3px;
    box-shadow: var(--shadow1);
}

:host app-categorie{
    margin-bottom: 0rem;
    background-color: transparent;
    box-shadow: none;
}

:host .header{
    display: flex;
    width: 100%;
    align-items: center;    
    padding: .5rem; 
}

:host .header .title{
    margin: 0;
    margin-left: 1rem;
    line-height: 1.5rem;
    flex-grow: 1;
    overflow-wrap: break-word;
    width: 1rem;
    font-size: 20px;
}

:host .header .title.leaftCategory:hover{
    color: var(--color-secondary);
    cursor: pointer;
}  

:host .body{
    padding-left: 1.5rem;
    padding-right: .5rem;
    width: 100%;
}

:host .body .body{
    padding-right: 0;
}

.header app-icon:first-child{
    margin-left: 0;
}

.header app-icon{
    margin-left: 1rem;
}

.dropDownIcon:hover{
    color: var(--primary);
    cursor: pointer;
}

.icon:hover {
    color:var(--color-secondary) !important;
}