
.notification{
    box-shadow: var(--shadow1);
    border-radius: 3px;
    margin-bottom: .5rem;
    overflow: hidden;
}

.notification .notificationHeader{
    padding: .75rem .75rem .75rem 1rem;
    background: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification .notificationHeader:hover{
    cursor: pointer;
}

.notification .notificationHeader .title{
    font-weight: 500;
    line-height: 1rem;
}
.notification .notificationHeader app-icon{
    color: #837F7F;
}

.notification .notificationBody{
    background-color: white;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

.notification .notificationBody .title{
    font-weight: 500;
    margin-bottom: 1rem;
}
.notification .notificationBody .text{
    padding: 0;
    margin: 0 0 1rem 0;
}

.notificationFooter{
    background-color: white;
    text-align: right;
    font-size: 0.8rem;
    padding: 1rem;
    color: #727272;
}