<div class="notification">
    <div *ngIf="notification.event == 'newarticle'">
        <header class="notificationHeader" (click)="goToArticle()">
            <span class="title">Nuevo: {{notification.data.title}}</span>
            <app-icon [iconName]="'mdi:text-box-plus-outline'"></app-icon>
        </header>
    </div>
    <div *ngIf="notification.event == 'articleUpdate'">
        <header class="notificationHeader" (click)="goToArticle()">
            <span class="title">Cambio: {{notification.data.title}}</span>
            <app-icon [iconName]="'mdi:text-box-plus-outline'"></app-icon>
        </header>
    </div>
    <div *ngIf="notification.event == 'nuevanoticia'">
        <header class="notificationHeader" (click)="goToArticle()">
            <span class="title">Noticia: {{notification.data.title}}</span>
            <app-icon [iconName]="'mdi:newspaper-plus'"></app-icon>
        </header>
    </div>
    <div *ngIf="notification.event == 'newComment'">
        <header class="notificationHeader" (click)="goToArticle()">
            <span class="title">{{articleTitle}}</span>
            <app-icon [iconName]="'mdi:comment-text-outline'"></app-icon>
        </header>
        <main class="notificationBody">
            <p class="text">
                {{notification.data.replytext}}
            </p>
            <span class="title">
                {{notification.data.username}}
            </span>
            <p class="text">
                {{notification.data.text}}
            </p>
        </main>
    </div>
    <!-- <footer class="notificationFooter">
        <span>Hace un dia</span>
    </footer> -->
</div>