<div class="card" *ngIf="type =='articulo'">
    <div class="box placeholder mb.5"></div>
    <div class="title placeholder mb.5"></div>
    <div class="placeholder text-lg mb.5"></div>
    <div class="placeholder text-sm mb.5"></div>
    <div class="placeholder text-lg mb.5"></div>
    <div class="placeholder text-sm mb.5"></div>
    <div class="placeholder text-lg mb1.5"></div>
    <div class="tags mb1">
        <div class="tag placeholder"></div>
        <div class="tag placeholder"></div>
        <div class="tag placeholder"></div>
    </div>
    <div class="buttons right">
        <div class="button placeholder"></div>
        <div class="button placeholder"></div>
        <div class="button placeholder"></div>
    </div>
</div>

<div class="card mb.5" *ngIf="type =='categoria'">
    <div class="buttons">
        <div class="button-sm placeholder mr1"></div>
        <div class="placeholder text-sm"></div>
    </div>
</div>

<div class="card mb.5" *ngIf="type =='articulorow'">
    <div class="buttons right">
        <div class="placeholder text-sm"></div>
        <div class="button-sm placeholder mr1"></div>
        <div class="button-sm placeholder mr1"></div>
        <div class="button-sm placeholder mr1"></div>
        <div class="button-sm placeholder mr1"></div>
        <div class="button-sm placeholder mr1"></div>
    </div>
</div>
