<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="titulo">Restablecer Contraseña</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 formulario">

            <div class="form-group col-md-12">
                <label for="exampleInputPassword">Password Nuevo</label>
                <input [(ngModel)]="passwordnuevo" type="password" class="form-control" id="exampleInputPassword" placeholder="Ingresa Nuevo Password">
            </div>
      
            <div class="form-group col-md-12">
                <label for="exampleInputPassword">Confirmar Password Nuevo</label>
                <input [(ngModel)]="passwordnuevoconfirmado" type="password" class="form-control" id="exampleInputPassword" placeholder="Confirma Nuevo Password">
            </div>

            <button class="btn btn-primary boton" (click)="cambiar()">Cambiar</button>

        </div>
        <div class="col-md-4"></div>
    </div>

</div>
